<div>
  <fd-resizable-card-layout [layoutConfig]="layoutConfig">
    <fd-resizable-card-item>
      <fd-card cardType="analytical">
        <fd-card-header>
          <h2 fd-card-title>股票/基金增长情况</h2>
        </fd-card-header>
        <fd-card-content>
          <app-stock-grow-status></app-stock-grow-status>
        </fd-card-content>
      </fd-card>
    </fd-resizable-card-item>
    <fd-resizable-card-item>
      <fd-card cardType="analytical">
        <fd-card-header>
          <h2 fd-card-title>股债轮动分析</h2>
        </fd-card-header>
        <fd-card-content>
          <app-stock-bond-rotate-analysis></app-stock-bond-rotate-analysis>
        </fd-card-content>
      </fd-card>
    </fd-resizable-card-item>
    <fd-resizable-card-item>
      <fd-card cardType="analytical" class="wide-card">
        <fd-card-header>
          <h2 fd-card-title>股债轮动分析报告</h2>
        </fd-card-header>
        <fd-card-content>
          <app-stock-bond-rotate-analysis-report></app-stock-bond-rotate-analysis-report>
        </fd-card-content>
      </fd-card>
    </fd-resizable-card-item>
    <fd-resizable-card-item>
      <fd-card cardType="analytical" class="wide-card">
        <fd-card-header>
          <h2 fd-card-title>股债轮动分析比较</h2>
        </fd-card-header>
        <fd-card-content>
          <app-stock-bond-rotate-analysis-comparison></app-stock-bond-rotate-analysis-comparison>
        </fd-card-content>
      </fd-card>
    </fd-resizable-card-item>
  </fd-resizable-card-layout>
</div>
